* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --mainPadding: 20px;
  --mainMargin: 20px;

  --mainDarkGreen: rgb(41, 107, 58);
  --mainLightGreen: rgb(78, 204, 110);

  --navBtnSize: 40px;
  --navBarHeight: 7px;

  --navBar: 70px;
  --mainTransition: .3s;
}


body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.main {
  margin-top: var(--navBar);
  min-height: 70vh;

}

/* navigation */

.navigation {
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
}

.navButton {
  position: fixed;
  width: 100%;
  height: var(--navBar);

  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-color: var(--mainDarkGreen);
  z-index: 7;
  transition: 1s;
}

.change-nav-color {
  background-color: transparent;
}

.logo {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  transition: .7s;
}

.navButton.change-nav-color .logo {
  left: -100%;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-bars {
  position: relative;
  margin-right: 5%;
  width: var(--navBtnSize);
  height: var(--navBtnSize);
  /* display: flex;
  flex-wrap: wrap;
  align-items: center; */
  ;
}

.bar {
  position: absolute;

  width: 100%;
  height: var(--navBarHeight);
  background-color: #ddd;

}

.bar-1,
.bar-2,
.bar-3 {
  position: absolute;
  left: 0;
  transition: .7s;
  transform: rotate(0);
  transform-origin: left;
}

.bar-1 {
  top: 0
}

.bar-2 {
  top: calc(50% - var(--navBarHeight) / 2)
}

.bar-3 {
  top: calc(100% - var(--navBarHeight))
}

.open-menu .bar-1 {
  top: calc(100% - var(--navBarHeight));
  transform: rotate(-45deg);
  /* width: calc(var(--navBtnSize) * 1.41) */
}

.open-menu .bar-2 {
  width: 0px;
}

.open-menu .bar-3 {
  top: 0;
  transform: rotate(45deg);
  /* width: calc(var(--navBtnSize) * 1.41) */
}

.navi.hidden {
  top: -150%;
}

.navi {
  position: fixed;
  margin-top: var(--navBar);
  top: 0px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  list-style-type: none;
  overflow: hidden;
  transition: 1s;
  z-index: 6;
}

.navi-li {
  position: relative;
  width: 100%;
  height: 15vh;
  transition: 1s;
  overflow: hidden;
}

.navi-li a {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  height: 100%;
  width: 100%;
  text-align: center;
  color: var(--mainDarkGreen);
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 900;
  transition: 1s;
}

.navi-li a.navOpen {
  transform: translateY(0%);

}

/* end navigation */

/* Header */
header {
  /* transform: translateY(-70px); */
  overflow: hidden;

}

.header-video {
  width: 100%;
  height: calc(100vh - 70px);
}

.video-cont {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-cont video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

.video-cont video.darker {
  filter: brightness(.25);
}

.video-info {
  position: absolute;
  left: 0;
  bottom: 15%;
  padding: 5%;
  width: 100%;
  /* padding-left: 5%; */
  background-color: rgba(41, 107, 58, .5);
  transition: 1s
}

.video-info h1 {
  color: #ddd;
  font-size: 1.7em;
}


/* banner */
.single-banner {
  position: relative;
  margin: 20px 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.banner-img-cont {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.banner-img-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: bannerFilterchange 20s infinite;
  /* transition: .3s; */
}



@keyframes bannerFilterchange {
  0% {
    filter: sepia(0)
  }

  10% {
    filter: sepia(0)
  }

  50% {
    filter: sepia(1)
  }

  90% {
    filter: sepia(0)
  }

  100% {
    filter: sepia(0)
  }
}

.banner-title {
  position: absolute;
  left: 50%;
  bottom: 20%;
  width: 100%;
  transform: translateX(-50%);
  padding: 20px;
  text-align: center;
}

.darkgreen-bg {
  background-color: rgba(41, 107, 58, .8);

}

.white-bg {
  background-color: rgba(255, 255, 255, .8);

}

.banner-title a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-decoration: none;
}

.white-c {
  color: #fff
}

.black-c {
  color: #444
}


.banners {
  display: flex;
  flex-wrap: nowrap;
  transition: 1s;
}

.banners-cont {
  position: relative;
}

.square-nav {
  position: absolute;
  left: 5%;
  bottom: 10%;

  display: flex;
}

.square-nav-item {
  margin: 10px;
  width: 20px;
  height: 20px;
  z-index: 4;
  background-color: #fff;
  transition: 1s;
}

/* end of banner */

/* end of Header */






/* section new */
.loader {
  min-height: 100vh;
  text-align: center;
  margin-top: 20vh;
}

.whats-new,
.site-name {
  padding: 30px 10% 0;
  font-size: 1.5em;
  text-align: center;
}

.items {
  width: 100%;
  overflow-x: hidden;
}

/* item demo */
.shop-item-demo {
  position: relative;
  margin: 30px 10%;
}

.link-to {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.link-to a {
  display: block;
  height: 100%;
  width: 100%;
}

.img-demo-cont {
  width: 100%;
  height: auto;
}

.img-demo-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name-demo {
  margin-top: 10px;
}

.name {
  font-size: 1.25em;
  font-weight: 900;
  color: var(--mainDarkGreen);
}

.price {
  font-size: 1.25em;
  font-weight: 900;
}

/* end of item demo */


/* end of section new */


/* item page */
.item-page {
  margin: 0 5%;
  padding: 30px 0;
  width: 90%;
  overflow-x: hidden;
}


.item-category {
  font-size: .95em;
  color: #aaa;
  margin-bottom: 20px;
}

#size {
  padding: 5px 20px;
  margin-top: 10px;
  width: 100%;
}




.item-buy {
  margin: 15px 0;
}

.item-buy button,
.btn-main {
  display: block;
  padding: 10px 0;
  width: 100%;
  background-color: var(--mainLightGreen);
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  border: none;
}

.item-buy button a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
}

.desc {
  margin: 50px 0;
}

/* end of item page */

.alert {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 20;
}

.alert-success {
  background-color: rgb(6, 172, 20);
}


/* cart */
.cart-icon {
  position: fixed;
  right: 5%;
  bottom: 5vw;
  width: 50px;
  height: 50px;
  background-color: var(--mainDarkGreen);
  border-radius: 50%;
  z-index: 3;
}

.cart-icon svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  color: #fff;
  transition: .5s;
}


.cart-length {
  position: absolute;
  left: 75%;
  top: 10%;
  color: #fff;
  /* background-color: var(--mainDarkGreen); */
  /* border-radius: 50%; */
}

.cart-icon a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: .5s;
}

.cartpage {
  width: 90%;
  margin: 0 auto;
  overflow-x: hidden;
}

.cart-table {
  margin: 20px 0;
  width: 100%;

  overflow-x: hidden;
}

.cart-table tr {
  width: 100%;
  margin: 0 auto;
}

.cart-table tr th {
  background-color: var(--mainDarkGreen);
  color: #ddd
}

.cart-table tr th,
.cart-table tr td {
  padding: 10px 5px;
  width: calc(70% / 3);
  text-align: center;
  /* outline: 1px solid #ddd; */
}


.cart-table tr th:nth-of-type(1) img,
.cart-table tr td:nth-of-type(1) img {
  width: 100%;
  object-fit: cover;
}


.cart-table tr th:nth-of-type(2),
.cart-table tr td:nth-of-type(2) {
  width: 30%;
}


.line {
  width: 100%;
}

#cart-item-tools {
  background-color: transparent;
  text-align: right;
}

#cart-item-tools span {
  margin-right: 30px;
  color: var(--mainDarkGreen)
}

.empty-cart {
  height: calc(100vh - 70px);
  width: 100%;
}

.empty-cart h2 {
  padding-top: 30vh;
  text-align: center;
  font-size: 20px;
}

.empty-cart a {
  display: block;
  margin: 10vh auto;
  padding: 15px 40px;
  width: 90%;
  background-color: var(--mainDarkGreen);
  color: #ddd;
  letter-spacing: 2px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}


.sum-price {
  text-align: right;
}


/* end of cart */

/* sort / filter  */
.site-items-controllers {
  margin: 0 auto;
  padding-top: 30px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.filter,
.sort {
  width: 50%;
  text-align: center;

}

.filter-btn,
.sort-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.amount-of-products {
  margin: 10px 0;
  width: 100%;
  text-align: center;
  color: var(--mainDarkGreen);
  font-size: .8em;
  font-weight: normal;
}

.dark-green {
  margin-right: 10px;
  font-size: 1.5em;
  color: var(--mainDarkGreen);
  font-weight: 900;

}


.filter-cont {
  position: fixed;
  left: 0;
  top: 0;
  padding: 5vh 5% 5vh;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 15;

  transform: scale(0);
  transition: .5s;

  overflow-y: scroll;
}

.filter-cont.open {
  transform: scale(1)
}


.info-cont {
  display: flex;
  padding: 10px 0 30px;
  justify-content: space-between;
  align-items: center;
  font-size: .7em;
  text-transform: uppercase;
}


.info-cont button {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 2em;
}








.filter-single-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #888;
  color: #888
}

/* .filter-single:nth-last-of-type(1) .filter-single-name {
  border-bottom: none;
} */

.item-filter {
  margin-top: 5vh;
}

.rotate {
  transform: rotate(0deg);
  transition: .5s;
  color: var(--mainDarkGreen);
  font-weight: 900;

}

.rotate.rotate-true {
  transform: rotate(180deg);

}

.filtered-data label {
  display: flex;
  margin-left: 20px;
  width: 100%;
  align-items: center;
  line-height: 1.5;
}

.filtered-data label input {
  display: block;
  margin-right: 20px;
}


/* end of sort / filter  */



/* footer */

footer {
  padding: 0 5%;
  min-height: 40vh;
  background-color: #eee;
  overflow: hidden;

}

.footer-list-item {
  overflow: hidden;
}


.footer-list-item h2 {
  color: #555;
  line-height: 3;
  font-size: 1.25em;
}


div.cont {
  color: #999;
  line-height: 2;
}

.media ul {
  list-style-type: none;
  display: flex;
  padding-bottom: 10%;
}

.media ul li {
  line-height: 3;
  width: calc(100% / 3);
}

.media ul li a {
  display: block;
  width: 100%;
  color: #555;
  text-align: center;
  font-size: 2em;
}

/* end of footer */


/* checkout page */
.checkout-page {
  /* width: 90%; */
  margin: 20vh 5%;

}

.checkout-svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-page h2 {
  margin: 50px 0;
  text-align: center;
}

@keyframes svgAnimate {
  to {
    stroke-dashoffset: 0
  }
}

/* end checkout page */


/* error page */
.error-page {
  margin: 15vh 5%;
  min-height: 50vh;

}

.error-page h1 {
  padding-top: 100px;
  margin-bottom: 25px;
  font-size: 1.25em;

}

/* end error page */


@media (min-width: 600px) {


  :root {
    --navBar: 100px;
  }

  .logo {
    width: 40%;
  }

  .navi-li {
    height: 12vh;

  }

  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .shop-item-demo {
    margin: 30px 5%;
    width: 40%;
  }

  .item-page {
    margin: 0 10%;
    width: 80%;
  }

  .img-demo-cont.item-image {
    width: 60%;
  }


  #size {
    padding: 15px 20px;
    margin-top: 20px;
  }




  .item-buy {
    margin: 30px 0;
  }

  .item-buy button,
  .btn-main {
    padding: 20px 0;
  }

  .cart-icon {
    width: 75px;
    height: 75px;
  }


  #cart-item-tools span {
    margin-right: 50px;
    font-size: 1.5em;
  }


  .filter-btn,
  .sort-btn {
    font-size: 1.5em;
  }

  .amount-of-products {
    font-size: .9em;
  }



  .filter-cont {
    padding: 5vh 10% 5vh;
  }

  .info-cont {
    font-size: .9em;
  }


  .filter-single-name {
    padding: 30px 10px;
  }


  .filtered-data label {
    font-size: 1.1em;
    line-height: 3;
  }


  footer {
    padding: 50px 10% 20px;
  }

  .media ul {
    padding-bottom: 0;
  }

  .media ul li {
    line-height: 3;
  }

  .media ul li a {
    font-size: 3em;
  }

  .checkout-page {
    margin: 20vh 10%;

  }

  .error-page {
    margin: 15vh 10%;
  }

}



/* tablet media */
@media (min-width: 750px) {
  body {
    font-size: 1.25em;
  }

  :root {
    --navBar: 140px;
  }

  .navi {
    padding-top: calc(var(--navBar) / 2);
  }

  .navi-li {
    height: 10vh;
  }


  .header-video {
    height: 70vh;
  }

  .video-info {
    bottom: 25%;
    padding: 10%;
    font-size: 1.25em;
  }

  .single-banner {
    width: 50%;
    height: 70vh;
  }


  .banner-title {
    padding: 30px;
  }

  .banner-title a {
    font-size: 1.75em;
  }


  .square-nav-item {
    margin: 10px 20px;
    width: 40px;
    height: 40px;
  }

}



@media (min-width: 700px) and (orientation: landscape) {
  :root {
    --navBar: 70px;

  }

  .logo {
    width: 25%;
  }

  .navi-li {
    height: 15vh;
  }

  header {
    display: flex;
    flex-wrap: wrap;
  }

  .header-rest {
    width: 60%;
    height: calc(100vh - 70px)
  }




  .header-video {
    width: 40%;
    height: calc(100vh - 70px);
  }


  .video-info {
    bottom: 0;
    padding: 40px 20px;
    width: 40%;
    background-color: rgba(41, 107, 58, 0);
  }

  .video-info h1 {
    font-size: 1em;
  }

  .banners-cont {
    overflow: hidden;
  }

  .single-banner {
    margin: 0 4px;
    height: calc(100vh - 70px);
  }

  .banner-title {
    padding: 10px;
  }

  .banner-title a {
    font-size: 1.25em;
  }

  .square-nav {
    bottom: 5%;
  }

  .square-nav-item {
    margin: 10px;
    width: 20px;
    height: 20px;
  }

  .loader {
    margin-top: 40vh;
  }

  .whats-new,
  .site-name {
    font-size: 1.15em;
  }



  .shop-item-demo {
    margin: 30px;
    width: 25%;
  }




  .name-demo {
    margin-top: 5px;
  }

  .name,
  .price {
    font-size: 1em;
  }



  .item-page {
    margin: 0 10%;
    width: 80%;
  }

  .img-demo-cont.item-image {
    width: 60%;
  }


  #size {
    padding: 15px 20px;
    margin-top: 20px;
  }

  .item-page {
    margin: 0 5%;
    padding: 30px 0;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }


  .item-category {
    font-size: .65em;
    width: 100%;
  }


  .img-demo-cont.item-image {
    width: 30%;
  }

  .item-page-info {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    width: 70%;
    padding-left: 10%;
  }

  .item-page-info>* {
    margin-bottom: 10px;
    width: 100%;
    font-size: .8em;
  }

  #size {
    padding: 5px 20px;
    margin-top: 10px;
    width: 100%;
  }

  .desc {
    margin: 50px 0;

    padding: 0 10%;
    width: 100%;
  }



  .item-buy button,
  .btn-main {
    padding: 10px 0;
  }

  .cart-icon {
    bottom: 3vw;
    width: 50px;
    height: 50px;
  }

  .cartpage {
    width: 60%;
    font-size: .8em;
  }

  .cartpage h1 {
    margin-top: 20px;
    font-size: 1.3em;
  }

  #cart-item-tools span {
    margin-right: 30px;
  }

  .empty-cart a {
    width: 60%;
  }

  .filter-btn,
  .sort-btn {
    font-size: 1em;
  }

  .amount-of-products {
    font-size: .6em;
  }

  .filter-cont {
    padding: 5vh 5% 5vh;
    width: 100%;
  }


  .info-cont {
    font-size: .7em;
  }

  .filter-single-name {
    padding: 20px 10px;
  }


  .item-filter {
    margin-top: 5vh;
  }


  .filtered-data label {
    margin-left: 20px;
    line-height: 1.5;
    font-size: .9em;
  }


  footer {
    padding: 0 5%;

  }


  .footer-list-item h2 {
    font-size: 1em;
  }


  .media ul {
    padding-bottom: 0%;
  }

  .media ul li {
    width: calc(50% / 3);
  }

  .media ul li a {
    font-size: 2em;
  }

  .checkout-page h2 {
    margin: 10px 0;
  }

  .error-page {
    margin: 15vh 15%;
  }

}


/* desktop */

@media (min-width: 1024px) and (orientation: landscape) {



  .navigation {
    position: relative;
  }



  .menu-bars {
    display: none;
  }



  .logo {
    left: 5%;
    width: 15%;
  }


  .navi.hidden {
    top: 0%;
  }

  .navi {
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    margin-top: 0;
    padding-top: 0;
    height: var(--navBar);
    background-color: transparent;
    z-index: 8;
  }

  .navi-li {
    width: 15%;
    height: var(--navBar)
  }


  .navi-li a {
    position: relative;
    transform: translateY(0%);
    color: #fff;
    font-size: 1em;
    font-weight: normal;
    transition: .5s;
  }

  .navi-li a::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: .5s;
  }

  .navi-li a:hover::after {
    background-color: rgba(0, 0, 0, .1);

  }

  .navi-li a.active::before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: #fff;
  }

  #change-color {
    color: var(--mainDarkGreen);
    transform: translateY(-100%);
  }



  header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 15vh 0;
    height: 70vh;

  }

  .header-rest {
    width: 70%;
    height: 70vh;
  }




  .header-video {
    width: 30%;
    height: 70vh;
  }


  .video-info {
    bottom: 20%;
    padding: 0 20px;
    width: 30%;
    background-color: rgba(41, 107, 58, 0);
  }

  .video-info h1 {
    font-size: 1em;
  }

  .banners-cont {
    overflow: hidden;
  }

  .single-banner {
    margin: 0 4px;
    height: 70vh;
  }

  .banner-title {
    padding: 10px;
  }

  .banner-title a {
    font-size: 1.25em;
  }

  .square-nav {
    bottom: 5%;
  }

  .square-nav-item {
    margin: 10px;
    width: 20px;
    height: 20px;
    transition: .5s;
  }

  .square-nav-item:hover {
    box-shadow: 5px 5px 0 #fff;
    cursor: pointer;
  }



  .item-page {
    margin: 0 15%;
    width: 70%;
  }


  .cart-icon {
    bottom: calc(100vh - 70px);
    right: 2%;
    width: 70px;
    height: 70px;
    z-index: 10;
  }



  .cart-icon svg {
    width: 40%;
    height: 40%;
  }

  .cart-icon:hover svg {
    color: red;
  }

  .cart-length {
    font-size: .9em;
  }

  .cartpage {
    width: 50%;
  }


  #cart-item-tools span {
    transition: .5s;
    cursor: pointer;
  }

  #cart-item-tools span:hover {
    color: #000
  }

  #cart-item-tools .icon-success:hover {
    color: rgb(6, 172, 20);
  }

  #cart-item-tools .icon-danger:hover {
    color: #eb220c
  }


  .item-filter {
    margin: 0 0 0 auto;
    width: 30%;
  }


  footer {
    display: flex;
    padding: 5% 10%;
    font-size: .8em;
  }

  .footer-list {
    display: flex;
  }

  .footer-list-item {
    margin-right: 100px;
  }

  .footer-list-item p {
    transition: .3s;
  }

  .footer-list-item p:hover {
    color: var(--mainDarkGreen);
    cursor: pointer;
  }

  .media ul {
    width: 300px;
    height: 100%;
    align-items: center;
    justify-content: space-around;
  }

  .media ul li {
    width: calc(100% / 3);
  }

  .media ul li a {
    transition: .3s;
  }

  .media ul li a:hover {
    color: var(--mainDarkGreen);
    transform: scale(1.5);
    transform-origin: center;
  }

  .checkout-page h2 {
    margin: 50px auto;
  }

  .checkout-page .item-buy {
    margin: 50px auto;
    width: 40%;
  }

  .error-page {
    margin: 15vh 15%;
  }



  .item-buy button,
  .btn-main {
    transition: .3s;
  }


  .item-buy button:hover,
  .btn-main:hover {
    background-color: var(--mainDarkGreen);
    cursor: pointer;
  }

  .filter-single-name,
  .filtered-data label,
  .filtered-data input {
    transition: .3s;
    cursor: pointer;
  }


}



@media (min-width: 1300px) and (orientation: landscape) {

  .items {
    width: 80%;
    margin: 0 auto;
  }

  .shop-item-demo {
    width: 20%;
  }
}


@media (min-width: 1600px) and (orientation: landscape) {

  .main {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
}