* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --mainPadding: 20px;
  --mainMargin: 20px;

  --mainDarkGreen: rgb(41, 107, 58);
  --mainLightGreen: rgb(78, 204, 110);

  --navBtnSize: 40px;
  --navBarHeight: 7px;


  --mainTransition: .3s;
}


body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.main {
  margin-top: 70px;

}

/* navigation */

.navigation {
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
}

.navButton {
  position: fixed;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-color: var(--mainDarkGreen);
  z-index: 7;
  transition: 1s;
}

.change-nav-color {
  background-color: transparent;
}

.logo {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  transition: .7s;
}

.navButton.change-nav-color .logo {
  left: -100%;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-bars {
  position: relative;
  margin-right: 5%;
  width: var(--navBtnSize);
  height: var(--navBtnSize);
  /* display: flex;
  flex-wrap: wrap;
  align-items: center; */
  ;
}

.bar {
  position: absolute;

  width: 100%;
  height: var(--navBarHeight);
  background-color: #ddd;

}

.bar-1,
.bar-2,
.bar-3 {
  position: absolute;
  left: 0;
  transition: .7s;
  transform: rotate(0);
  transform-origin: left;
}

.bar-1 {
  top: 0
}

.bar-2 {
  top: calc(50% - var(--navBarHeight) / 2)
}

.bar-3 {
  top: calc(100% - var(--navBarHeight))
}

.open-menu .bar-1 {
  top: calc(100% - var(--navBarHeight));
  transform: rotate(-45deg);
  /* width: calc(var(--navBtnSize) * 1.41) */
}

.open-menu .bar-2 {
  width: 0px;
}

.open-menu .bar-3 {
  top: 0;
  transform: rotate(45deg);
  /* width: calc(var(--navBtnSize) * 1.41) */
}

.navi.hidden {
  top: -150%;
}

.navi {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;

  list-style-type: none;
  overflow: hidden;
  transition: 1s;
  z-index: 6;
}

.navi-li {
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  /* display: flex;
  justify-content: center; */
  line-height: 15vh;
  transition: 1s;
}


.navi-li a {

  display: block;
  width: 100%;
  text-align: center;
  color: var(--mainDarkGreen);
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 900;
}


/* end navigation */

/* Header */
header {
  /* transform: translateY(-70px); */
  overflow: hidden;

}

.header-video {
  width: 100%;
  height: calc(100vh - 70px);
}

.video-cont {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-cont video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

.video-cont video.darker {
  filter: brightness(.25);
}

.video-info {
  position: absolute;
  left: 0;
  bottom: 15%;
  padding: 5%;
  width: 100%;
  /* padding-left: 5%; */
  background-color: rgba(41, 107, 58, .5);
  transition: 1s
}

.video-info h1 {
  color: #ddd;
  font-size: 1.7em;
}


/* banner */
.single-banner {
  position: relative;
  margin: 20px 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.banner-img-cont {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.banner-img-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: bannerFilterchange 20s infinite;
  /* transition: .3s; */
}



@keyframes bannerFilterchange {
  0% {
    filter: sepia(0)
  }

  10% {
    filter: sepia(0)
  }

  50% {
    filter: sepia(1)
  }

  90% {
    filter: sepia(0)
  }

  100% {
    filter: sepia(0)
  }
}

.banner-title {
  position: absolute;
  left: 50%;
  bottom: 20%;
  width: 100%;
  transform: translateX(-50%);
  padding: 20px;
  text-align: center;
}

.darkgreen-bg {
  background-color: rgba(41, 107, 58, .8);

}

.white-bg {
  background-color: rgba(255, 255, 255, .8);

}

.banner-title a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-decoration: none;
}

.white-c {
  color: #fff
}

.black-c {
  color: #444
}


.banners {
  display: flex;
  flex-wrap: nowrap;
  transition: 1s;
}

.banners-cont {
  position: relative;
}

.square-nav {
  position: absolute;
  left: 5%;
  bottom: 10%;

  display: flex;
}

.square-nav-item {
  margin: 10px;
  width: 20px;
  height: 20px;
  z-index: 4;
  background-color: #fff;
  transition: 1s;
}

/* end of banner */

/* end of Header */






/* section new */
.loader {
  min-height: 100vh;
  text-align: center;
  margin-top: 20vh;
}

.whats-new,
.site-name {
  padding: 30px 10% 0;
  font-size: 1.5em;
  text-align: center;
}

.items {
  width: 100%;
  overflow-x: hidden;
}

/* item demo */
.shop-item-demo {
  position: relative;
  margin: 30px 10%;
}

.link-to {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.link-to a {
  display: block;
  height: 100%;
  width: 100%;
}

.img-demo-cont {
  width: 100%;
  height: auto;
}

.img-demo-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name-demo {
  margin-top: 10px;
}

.name {
  font-size: 1.25em;
  font-weight: 900;
  color: var(--mainDarkGreen);
}

.price {
  font-size: 1.25em;
  font-weight: 900;
}

/* end of item demo */


/* end of section new */


/* item page */
.item-page {
  margin: 0 5%;
  padding: 30px 0;
  width: 90%;
  overflow-x: hidden;
}


.item-category {
  font-size: .95em;
  color: #aaa;
  margin-bottom: 20px;
}

#size {
  padding: 5px 20px;
  margin-top: 10px;
  width: 100%;
}




.item-buy {
  margin: 15px 0;
}

.item-buy button,
.btn-main {
  display: block;
  padding: 10px 0;
  width: 100%;
  background-color: var(--mainLightGreen);
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  border: none;
}

.desc {
  margin: 50px 0;
}

/* end of item page */

.alert {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 20;
}

.alert-success {
  background-color: rgb(6, 172, 20);
}


/* cart */
.cart-icon {
  position: fixed;
  right: 5%;
  bottom: 5vw;
  width: 50px;
  height: 50px;
  background-color: var(--mainDarkGreen);
  border-radius: 50%;
  z-index: 3;
}

.cart-icon svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  color: #fff;
}


.cart-length {
  position: absolute;
  left: 75%;
  top: 10%;
  color: #fff;
  /* background-color: var(--mainDarkGreen); */
  /* border-radius: 50%; */
}

.cart-icon a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.cartpage {
  width: 90%;
  margin: 0 auto;
  overflow-x: hidden;
}

.cart-table {
  margin: 20px 0;
  width: 100%;

  overflow-x: hidden;
}

.cart-table tr {
  width: 100%;
  margin: 0 auto;
}

.cart-table tr th {
  background-color: var(--mainDarkGreen);
  color: #ddd
}

.cart-table tr th,
.cart-table tr td {
  padding: 10px 5px;
  width: calc(70% / 3);
  text-align: center;
  /* outline: 1px solid #ddd; */
}


.cart-table tr th:nth-of-type(1) img,
.cart-table tr td:nth-of-type(1) img {
  width: 100%;
  object-fit: cover;
}


.cart-table tr th:nth-of-type(2),
.cart-table tr td:nth-of-type(2) {
  width: 30%;
}


.line {
  width: 100%;
}

#cart-item-tools {
  background-color: transparent;
  text-align: right;
}

#cart-item-tools span {
  margin-right: 30px;
  color: var(--mainDarkGreen)
}

.empty-cart {
  height: calc(100vh - 70px);
  width: 100%;
}

.empty-cart h2 {
  padding-top: 30vh;
  text-align: center;
  font-size: 20px;
}

.empty-cart a {
  display: block;
  margin: 10vh auto;
  padding: 15px 40px;
  width: 90%;
  background-color: var(--mainDarkGreen);
  color: #ddd;
  letter-spacing: 2px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

/* end of cart */

/* sort / filter  */
.site-items-controllers {
  margin: 0 auto;
  padding-top: 30px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.filter,
.sort {
  width: 50%;
  text-align: center;

}

.filter-btn,
.sort-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.amount-of-products {
  margin: 10px 0;
  width: 100%;
  text-align: center;
  color: var(--mainDarkGreen);
  font-size: .8em;
  font-weight: normal;
}

.dark-green {
  margin-right: 10px;
  font-size: 1.5em;
  color: var(--mainDarkGreen);
  font-weight: 900;

}


.filter-cont {
  position: fixed;
  left: 0;
  top: 0;
  padding: 5vh 5% 5vh;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 15;

  transform: scale(0);
  transition: .5s;

  overflow-y: scroll;
}

.filter-cont.open {
  transform: scale(1)
}


.info-cont {
  display: flex;
  padding: 10px 0 30px;
  justify-content: space-between;
  align-items: center;
  font-size: .7em;
  text-transform: uppercase;
}


.info-cont button {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 2em;
}








.filter-single-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #888;
  color: #888
}

/* .filter-single:nth-last-of-type(1) .filter-single-name {
  border-bottom: none;
} */

.item-filter {
  margin-top: 5vh;
}

.rotate {
  transform: rotate(0deg);
  transition: .5s;
  color: var(--mainDarkGreen);
  font-weight: 900;

}

.rotate.rotate-true {
  transform: rotate(180deg);

}

.filtered-data label {
  display: flex;
  margin-left: 20px;
  width: 100%;
  align-items: center;
  line-height: 1.5;
}

.filtered-data label input {
  display: block;
  margin-right: 20px;
}


/* end of sort / filter  */





footer {
  height: 40vh;
  background-color: #888;
}